.header {
    background-color: @header-bg;
    border: 1px solid slategray;
    border-radius: 1rem;
    margin-top: 10px;

    @media @tablet {
        div {
            .flex-spacing(center,center);
            margin-bottom: 5px;
        }
    }
}