@font-color: black;
@main-bg: lightgrey;
@footer-bg: white;
@header-bg: lightgrey;
@hr-color: slategray;
@bttn-color: slategray;
@hover-color: white;

@tablet:~"(max-width: 1000px)";
@mobile:~"(max-width: 500px)";