@font-color: black; //  main font color
@main-bg: lightgrey; //main color
@content-bg:  navajowhite; // content area color
@footer-bg: white; // footer color
@header-bg: rgb(160, 206, 243); // header color
@hr-color: slategray; // border & divider color
@bttn-color: rgb(74, 118, 153); // main button color
@hover-color: white; // hover button color
@border-color: slategrey; // border color

@tablet:~"(max-width: 1000px)";
@mobile:~"(max-width: 500px)";